<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="header">
        <h1>Auth-service</h1>
        <small>seamless plug and play authentication solution</small>
    </div>

    <div class="section">
        <h1>VERIFY EMAIL</h1>
        <p>
            <span>{{name}}</span>, we are happy to have you create an account with an application using auth-service

        </p>
        <p>
            Click or copy the link below to verify your email and activate your
            account
        </p>
        <p>{{activationLink}}</p>

        <p class="simple">If you did not sign up on any application using auth-service, ignore this email</p>
    </div>
</body>

</html>