<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="header">
        <h1>Auth-service</h1>
        <small>seamless plug and play authentication solution</small>
    </div>

    <div class="section">
        <h1>PASSWORD RESET LINK</h1>
        <p>
            <span>{{name}}</span>, we noticed that you requested for a password reset link on {{appName}}

        </p>
        <p>
            Click or copy the link below to reset your password
        </p>
        <p>{{resetLink}}</p>

        <p class="simple">If you did not make this request, ignore this email and contact the admin</p>
    </div>
</body>

</html>